#background {
    background-image: url(./images/pixelgothic.png);
    background-size: cover;
    height: 100dvh;
    margin: 0%;
}
p {
    margin: 0%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
}
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
.jacquarda-bastarda-9-regular {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  color: #574f44
}

#taskbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1c1a18;
    justify-content: space-between;
    padding-right: 10px;
}

#welcome {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: #6b6e73;
  border: 8px solid #1c1a18;
}
#welcomeheader {
  height: 40px;
  width: 500px;
  background-color: #1c1a18;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#closeWelcomeTab {
  cursor: pointer;
}

#openWelcomeTab{
  cursor: pointer;
}

.header-title {
  font-size: 1.8rem;
}


#bookicon {
  width: 170px;
  height: auto;
}

.apptitle {
  font-size: 2rem;
  color: #c1bcb4;
  text-align: center;
}

.flex-row {
  position: relative;
  top: 40px;
  left: 15px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  border-radius: 20px;
  height: 180px;
}

.selected {
  background-color: rgba(255, 255, 255, 0.234);

}

